<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>我们</h3>
			
			<p>真正的学生自主科创团队;真正的商业化实践挑战;</p>
			<p>真正的创新性头脑风暴;真正的校园优秀精英圈子;</p>
			<p>我们从来都是一起往前，从不单打独斗…</p>
    	</div>

		<div>
			<h3>联系我们</h3>
			
			<p>地址：重庆市南岸区崇文路2号重庆邮电大学创新创业孵化基地6楼</p>

			<p class="footer-phone"><i class="icon-phone"></i> 400-8388-719</p>
			<p class="footer-email"><i class="icon-email"></i> contact@campussay.com</p>
		</div>
    </div>

    {{!-- <div id="social-icons">
	    <a class="icon-gplus" href="#">Google+</a>
	    <a class="icon-fb" href="#">Facebook</a>
	    <a class="icon-twitter" href="#">Twitter</a>
	    <a class="icon-pinterest" href="#">Pinterest</a>
	    <a class="icon-youtube" href="#">YouTube</a>
	    <a class="icon-rss" href="{{@blog.url}}/rss/">RSS</a>
	</div> --}}

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
    </div>
</footer>