{{!-- In this file you can override your pagination --}}
<nav class="pagination">
    <div>
	    {{#if next}}
	        <a class="older-posts" href="{{page_url next}}">&larr; 前面的文章</a>
	    {{/if}}
	   	<span class="page-number">Page {{page}} of {{pages}}</span>
	    {{#if prev}}
	        <a class="newer-posts" href="{{page_url prev}}">后面的文章 &rarr;</a>
	    {{/if}}
	</div>
</nav>